/* Default / home.js styling */

* {
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-image: url('./images/pizza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.808);
    height: 200px;
    width: 100vw;
    z-index: 20;
}

.flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

.logo {
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url('./images/logo.png');
    z-index: 22;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
    margin-top: 30px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    list-style: none;
}

.navbar li a {
    color: white;
    list-style: none;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.navbar li:hover,
.navbar li a:hover {
    transform: translateY(-10px);
    color: darkorange;
    cursor: pointer;
    transition: 0.4s;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.774);
    border: 2px solid black;
    border-radius: 8px;
    height: 70%;
    width: 30%;
    z-index: 22;
}

.intro-title,
.intro-message {
    color: white;
    text-align: center;
    margin-top: 35px;
}

.intro-message {
    font-size: 1.25rem;
}

.chef-img {
    display: flex;
    justify-content: center;
    height: 65%;
    width: 80%;
    border-radius: 50%;
    transform: scale(1);
    margin: auto;
    margin-bottom: 30px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.808);
    text-align: center;
    height: 4vh;
}

.github {
    height: 30px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
}

.github:hover {
    filter: invert();
}

/* menu.js styling */
.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.774);
    border: 2px solid black;
    border-radius: 8px;
    height: 70%;
    width: 80%;
    z-index: 22;
}